body {
    font: normal 400 16px/28px 'Microsoft YaHei';
}
h1 {
    /* 标题居中且不加粗 */
    font-weight: 400;
    text-align:center;
}
a {
    text-decoration: none;
}
.gray {
    color: #888888;
    font-size: 12px;
    text-align:center;
}
.search {
    color: #888888;
    width: 200px;
 }
.button {
    font-weight:700;

}
p {
    text-indent: 2em;
}
.picture {
    text-align: center;
}
.footer {
    color: #888888;
    font-size: 12px;
}